#header {
    /* text-align: center; */
    margin-left: 1rem;
}

.searchContainer {
    text-align: auto;
    /* border-style: groove; */
    width: 50%;
}

.resultContainer {
    margin-left: 1rem;
}